/* cuerpo con fuentes solicitadas*/
body {
  font-family: "Raleway", "Open Sans";
  color:white;
  background-color: black;
 
 }
 .navbar {
  background-color: transparent !important;
  color:white;
}


/* smooth a sroll*/
 .bg-interno{
  background-color: #16a2b7;
  transition: all 2s ease;
 }
/* inicio de header */
.container_header {
  margin: 0;
}

.carousel-item {
  background: center/cover no-repeat scroll;
}
/* termino de header */

/* inicio de seccion Quienes somos? y Destacados */
.container_h1{
  margin:0;
} 

.hr_linea{
  background-color: #16a2b7;
  height:0.2em;

}

.card0{
  background-color: black;
}

.card-body01{background-color: #16a2b7;  
  padding:0;
}

.fa-iconos {
  font-size: 2em;
  color: #fff;
}

.card-body02 {  background-color: black;
  color: #fff;
  padding:0;
  margin:0;
  text-align:left;
}

.card-body00{  background-color:white;;  
  margin-top: 1.5em;
}

.card-body03{ background-color: #16a2b7;  
  color:white;
  text-align:left;
  height:17em;
  padding: 0.5em;
}

.card-imagen{
  height:140px;
}

/* termino de seccion Quienes somos? y Destacados */


/* inicio de formulario */
.contactos {
  background-color: black;
  padding: 50px 0;
}

.contactos input,
.contactos textarea {
  color: white;
  border: 1px solid white;
}

.contactos textarea {
  resize: none; /* Evitar que el textarea sea redimensionable */
}

.contactos .btn-enviar {
  background-color: #16a2b7;
  border: 1px solid white;
  width: 100px;
  
}

/* termino de formulario */

/* footer*/
.page-footer
{
  background-color: #16a2b7;
}
footer {
  color:white;
  font-weight: bold;
  background-color: #16a2b7;
  font-family: "Raleway";
  font-size: 400;
  position: absolute;
  width: 100%;
  padding:2px
 }
 /* Botones de redes sociales*/
.btn{
  width:50px;
  color:#16a2b7;
  margin:10px;
  padding:10px;
  background-color: white;
}