/* cuerpo con fuentes solicitadas*/
body {
  font-family: "Raleway", "Open Sans";
  color:white;
  background-color: black;
 
 }
 .navbar {
  background-color: transparent ;
}

/* smooth a sroll*/
 .bg-interno{
  background-color: #16a2b7;
  transition: all 2s ease;
 }

/* inicio de header */
.carousel-item {
  background: center/cover no-repeat scroll;
}
/* termino de header */

/* inicio de seccion Quienes somos? y Destacados */
.hr_linea{
  background-color: #16a2b7;
  height:0.2em;
}

.card-body02 {  
  background-color: black;
}

.card-body03{
  background-color: #16a2b7;  
  text-align:left;
  height:17em;
}

.card-imagen{
  height:13rem;
}
/* termino de seccion Quienes somos? y Destacados */

/* inicio de formulario */
.contactos {
  background-color: black;
}

.contactos textarea {
  resize: none; /* Evitar que el textarea sea redimensionable */
}

.contactos .btn-enviar {
  background-color: #16a2b7;
  border: 1px solid white;
  width: 80px; 
}
/* termino de formulario */

/* footer*/
footer {
  background-color: #16a2b7;
 }
 
.btn{
  width:50px;
  color:#16a2b7;
  background-color: white;
}

.contenedorLinks{  /*luche mucho tiempo con que el contenedor y nada funciono asi que lo hice directo*/
margin-left: 5rem;
}

